:root {
  --primary-title-color: #2f303a;
  --secondary-title-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --primary-beackround-color: #ffffff;
  --second-bg: #f5f4fa;

  --dark-bg: #2f303a;
  --blue-color: #2196f3;
  --svg-current: #afb1b8;
}
